html {
	background-color: #c0c0c0;
}

body {
	font-family: 'Handlee', 'cursive';
	background-color: transparent;
}

h1 {
	font-size: 75px;
	text-align: center;
}

h2, 
h3 {
	font-size: 40px;
	margin-top: 50px;
	text-align: center;
}

#middle {
	text-align: center;
	font-family: 'Handlee', 'cursive';
}


/*Start Button*/
#start,
#button-, 
#reset,
.answer-btn, {
	text-align: center;
	font-family: 'Handlee', 'cursive';
	background-color: #e7e7e7;
    border: none;
    color: black;
    padding: 15px 15px;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
}

